<component name="ArtifactManager">
  <artifact type="war" name="mybatis-learning-jndi:war">
    <output-path>$PROJECT_DIR$/mybatis-learning-jndi/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>mybatis-learning-jndi</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring-learning.war">
      <element id="artifact" artifact-name="mybatis-learning-jndi:war exploded" />
    </root>
  </artifact>
</component>